---
http_interactions:
- request:
    method: post
    uri: https://onesignal.com/api/v1/notifications
    body:
      encoding: UTF-8
      string: '{"contents":{"en":"Live Test"},"headings":{"en":"This is a live test
        for OneSignal"},"included_segments":["Active Users"],"app_id":"22bc6dec-5150-4d6d-8628-377259d2dd14"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NTc3Y2RhMTAtMjQzZC00NDIxLWE3MWUtNWU0OWM3YTVhZTlh
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ef5b4130aaa5c100eb66a3752be97f6c"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"fe82c1ae-54c2-458b-8aad-7edc3e8a96c4","recipients":1}'
  recorded_at: Thu, 28 Jun 2018 09:42:05 GMT
- request:
    method: get
    uri: https://onesignal.com/api/v1/notifications/fe82c1ae-54c2-458b-8aad-7edc3e8a96c4?app_id=22bc6dec-5150-4d6d-8628-377259d2dd14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic NTc3Y2RhMTAtMjQzZC00NDIxLWE3MWUtNWU0OWM3YTVhZTlh
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"6767406bf9d0cc11df3d7ef8d95d786f"
    body:
      encoding: ASCII-8BIT
      string: '{"adm_big_picture":null,"adm_group":null,"adm_group_message":null,"adm_large_icon":null,"adm_small_icon":null,"adm_sound":null,"spoken_text":null,"alexa_ssml":null,"alexa_display_title":null,"amazon_background_data":null,"android_accent_color":null,"android_group":null,"android_group_message":null,"android_led_color":null,"android_sound":null,"android_visibility":null,"app_id":"22bc6dec-5150-4d6d-8628-377259d2dd14","big_picture":null,"buttons":null,"canceled":false,"chrome_big_picture":null,"chrome_icon":null,"chrome_web_icon":null,"chrome_web_image":null,"chrome_web_badge":null,"content_available":null,"contents":{"en":"Live
        Test"},"converted":0,"data":null,"delayed_option":null,"delivery_time_of_day":null,"errored":0,"excluded_segments":[],"failed":0,"firefox_icon":null,"headings":{"en":"This
        is a live test for OneSignal"},"id":"fe82c1ae-54c2-458b-8aad-7edc3e8a96c4","include_player_ids":null,"included_segments":["Active
        Users"],"ios_badgeCount":null,"ios_badgeType":null,"ios_category":null,"ios_sound":null,"apns_alert":null,"isAdm":false,"isAndroid":false,"isChrome":false,"isChromeWeb":false,"isAlexa":false,"isFirefox":false,"isIos":true,"isSafari":false,"isWP":false,"isWP_WNS":false,"isEdge":false,"large_icon":null,"priority":null,"queued_at":1530178925,"remaining":1,"send_after":1530178925,"completed_at":null,"small_icon":null,"successful":0,"tags":null,"filters":null,"template_id":null,"ttl":null,"url":null,"web_buttons":null,"web_push_topic":null,"wp_sound":null,"wp_wns_sound":null}'
  recorded_at: Thu, 28 Jun 2018 09:42:05 GMT
recorded_with: VCR 4.0.0
