---
http_interactions:
- request:
    method: get
    uri: https://onesignal.com/api/v1/notifications?app_id&limit=50&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8ffb25ab262ff4e1e066e21689fba411"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":51,"offset":0,"limit":50,"notifications":[{"adm_big_picture":"","adm_group":"","adm_group_message":{"en":""},"adm_large_icon":"","adm_small_icon":"","adm_sound":"","spoken_text":null,"alexa_ssml":null,"alexa_display_title":null,"amazon_background_data":false,"android_accent_color":"","android_group":"","android_group_message":null,"android_led_color":"","android_sound":"","android_visibility":1,"app_id":"test","big_picture":"","buttons":null,"canceled":false,"chrome_big_picture":"","chrome_icon":"","chrome_web_icon":"","chrome_web_image":"","chrome_web_badge":"","content_available":false,"contents":{"en":"It''s
        a message"},"converted":0,"data":null,"delayed_option":"last-active","delivery_time_of_day":null,"errored":0,"excluded_segments":[],"failed":0,"firefox_icon":"","headings":{"en":"Message
        "},"id":"966e0eb8-1e91-4a39-9a67-724a40c01012","include_player_ids":["player_id"],"include_external_user_ids":null,"included_segments":[],"thread_id":null,"ios_badgeCount":1,"ios_badgeType":"None","ios_category":"","ios_sound":"","apns_alert":null,"isAdm":false,"isAndroid":false,"isChrome":false,"isChromeWeb":true,"isAlexa":false,"isFirefox":false,"isIos":false,"isSafari":false,"isWP":false,"isWP_WNS":false,"isEdge":false,"large_icon":"","priority":5,"queued_at":1568812073,"remaining":1,"send_after":1568812073,"completed_at":null,"small_icon":"","successful":0,"tags":null,"filters":null,"template_id":"3c9ee288-61a4-4364-b11e-93d3ff6d1fa5","ttl":null,"url":"","web_url":null,"app_url":null,"web_buttons":null,"web_push_topic":null,"wp_sound":"","wp_wns_sound":"","platform_delivery_stats":{},"ios_attachments":null},{"adm_big_picture":"","adm_group":"","adm_group_message":{"en":""},"adm_large_icon":"","adm_small_icon":"","adm_sound":"","spoken_text":null,"alexa_ssml":null,"alexa_display_title":null,"amazon_background_data":false,"android_accent_color":"","android_group":"","android_group_message":null,"android_led_color":"","android_sound":"","android_visibility":1,"app_id":"test","big_picture":"","buttons":null,"canceled":false,"chrome_big_picture":"","chrome_icon":"","chrome_web_icon":"","chrome_web[...]
[...]
